<!-- 公共 -->
<div><a href="#/{{from}}">返回</a></div>
<div ng-show="(from == 'find' && curView == 'list') || curView == 'add'">
    <div>
        <label>领域：</label>
        <a class="btn btn-default" href="" ng-repeat="field in fuwu_fields" ng-click="selectField($index + 1)"
           ng-class="{'btn-info':searchInfo.fieldIndex == $index + 1}">{{field.name}}</a>
    </div>
    <div>
        <label>类别：</label>
        <a class="btn btn-default" href="" ng-repeat="category in categories" ng-click="selectCategory($index + 1)"
           ng-class="{'btn-info':searchInfo.categoryIndex == $index + 1}">{{category.name}}</a>
    </div>
    <div ng-if="!!subjects">
        <label>科目：</label>
        <a class="btn btn-default" href="" ng-repeat="subject in subjects" ng-click="selectSubject($index + 1)"
           ng-class="{'btn-info':searchInfo.subjectIndex == $index + 1}">{{subject.name}}</a>
    </div>
</div>
<!-- 列表 -->
<div ng-show="curView == 'list'">
    <input class="btn btn-default" type="button" value="搜索" ng-click="search()" ng-if="from == 'find'">
    <div ng-repeat="item in items">
        <a href="" ng-click="goDetail(item.id)">{{item.title}} {{item.description}} {{item.price}}</a>
    </div>
    <input class="btn btn-default" type="button" value="发布" ng-click="goAdd()" ng-if="from == 'publish'">
</div>
<!-- 详情 -->
<div ng-show="curView == 'detail'">
    <div><a href="" ng-click="changeView('list')">返回</a></div>
    <div>{{curItem.address}} {{curItem.description}} {{curItem.price}}
        {{curItem.title}}
    </div>

    <input class="btn btn-default" type="button" value="预订" ng-click="claim()" ng-if="from == 'find'">
    <input class="btn btn-default" type="button" value="修改" ng-click="goEdit()" ng-if="from == 'publish'">
    <input class="btn btn-default" type="button" value="删除" ng-click="remove(curItem.id)" ng-if="from == 'publish'">
    <!--评论区-->
    <div>
        <div ng-repeat="comment in comments">
            {{comment.score}} {{comment.content}} {{comment.time}}
        </div>
    </div>
</div>
<!-- 编辑 -->
<div ng-show="curView == 'edit' || curView == 'add'">
    <div><a href="" ng-click="changeView('list')">返回</a></div>
    <div>
        <label>地点：</label>
        <input type="text" ng-model="editItem.address">
    </div>
    <div>
        <label>描述：</label>
        <input type="text" ng-model="editItem.description">
    </div>
    <div>
        <label>价格：</label>
        <input type="text" ng-model="editItem.price">
    </div>
    <div>
        <label>服务方式：</label>
        <input type="text" ng-model="editItem.serve_method">
    </div>
    <div>
        <label>收费方式：</label>
        <input type="text" ng-model="editItem.charge_method">
    </div>
    <div>
        <label>标题：</label>
        <input type="text" ng-model="editItem.title">
    </div>
    <div>
        <label>有效期：</label>
        <input type="text" ng-model="editItem.term">
    </div>
    <input class="btn btn-default" type="button" value="提交" ng-click="add()" ng-if="!curItem.id">
    <input class="btn btn-default" type="button" value="提交" ng-click="edit()" ng-if="!!curItem.id">
</div>