<!-- 列表 -->
<div ng-show="curView == 'list'">
    <div>岗位：</div>
    <div ng-repeat="position in positions">
        <a href="" ng-click="goDetail(position.id)">{{position.address}} {{position.description}} {{position.number}}
            {{position.reward}}元/天 {{position.spot}}</a>
    </div>
    <input class="btn btn-default" type="button" value="添加岗位" ng-click="goAdd()">
</div>
<!-- 详情 -->
<div ng-show="curView == 'detail'">
    <div><a href="" ng-click="changeView('list')">返回</a></div>
    <div><a href="" ng-click="userInfo(curPosition.publish_id)">查看发布人</a></div>
    <div>{{curPosition.address}} {{curPosition.description}} {{curPosition.number}} {{curPosition.reward}}元/天
        {{curPosition.spot}}
    </div>
    <div class="select">
        <div class="item" ng-repeat="card in cards">
            <div class="card" ng-click="select($index)"
                 ng-class="{full:card.instances.length >= curPosition.number,enable:card.enable && card.instances.length < curPosition.number,selected:card.selected}">
                {{card.date}} {{card.day}}
            </div>
            <div><a href="" ng-click="goClaimInfo($index)">查看认领情况</a></div>
        </div>
    </div>
    <input class="btn btn-default" type="button" value="认领" ng-click="claim()">
    <input class="btn btn-default" type="button" value="修改" ng-click="goEdit()">
    <input class="btn btn-default" type="button" value="删除" ng-click="remove(curPosition.id)">
</div>
<!-- 认领信息 -->
<div ng-show="curView == 'claimInfo'">
    <div><a href="" ng-click="changeView('detail')">返回</a></div>
    <div ng-repeat="instance in cards[curCardIndex].instances">
        {{instance.claim_id}}<input class="btn btn-default" type="button" value="取消认领" ng-click="cancel(instance.id)">
    </div>
</div>
<!-- 编辑 -->
<div ng-show="curView == 'edit'">
    <div><a href="" ng-click="changeView('list')">返回</a></div>
    <div class="form-group">
        <label>工作地点：</label>
        <input type="text" class="form-control" ng-model="editPosition.address">
    </div>
    <div class="form-group">
        <label>岗位描述：</label>
        <input type="text" class="form-control" ng-model="editPosition.description">
    </div>
    <div class="form-group">
        <label>工作时段：</label>
        <input type="text" class="form-control" ng-model="editPosition.spot">
    </div>
    <div class="form-group">
        <label>报酬：</label>
        <input type="text" class="form-control" ng-model="editPosition.reward">
    </div>
    <div class="form-group">
        <label>工作日：</label>
        <input type="text" class="form-control" ng-model="editPosition.day_flag">
    </div>
    <div class="form-group">
        <label>人数：</label>
        <input type="text" class="form-control" ng-model="editPosition.number">
    </div>
    <div class="form-group">
        <label>有效期：</label>
        <input type="text" class="form-control" ng-model="editPosition.term">
    </div>
    <input class="btn btn-default" type="button" value="提交" ng-click="add()" ng-if="!editPosition.id">
    <input class="btn btn-default" type="button" value="提交" ng-click="edit()" ng-if="!!editPosition.id">
</div>