<div>
    <div class="title"><span class="glyphicon glyphicon-piggy-bank">外快</span></div>
    <a class="btn btn-default" href="#/gfqjz?from=find" role="button">高峰期兼职</a>
</div>

<div class="title">
    <div><div class="glyphicon glyphicon-road">出行</div></div>
    <a class="btn btn-default" href="#/sbsfc?from=find" role="button">上班顺风车</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=8&category=3">代驾</a>
</div>

<div class="title">
    <div><div class="glyphicon glyphicon-dashboard">报班</div></div>
    <a class="btn btn-default" href="#/ban?from=find&field=5" role="button">补习班</a>
    <a class="btn btn-default" href="#/ban?from=find&field=1&category=1&subject=2" role="button">吉他培训班</a>
    <a class="btn btn-default" href="#/ban?from=find&field=2&category=2" role="button">瑜伽班</a>
    <a class="btn btn-default" href="#/ban?from=find&field=3&category=4&subject=1" role="button">英语班</a>
    <a class="btn btn-default" href="#/ban?from=find&field=4&category=1&subject=1" role="button">JAVA班</a>
    <a class="btn btn-default" href="#/ban?from=find&field=7&category=2" role="button">早教班</a>
    <a class="btn btn-default" href="#/ban?from=find&field=8&category=1&subject=1" role="button">雅思班</a>
    <a class="btn btn-default" href="#/ban?from=find&field=1" role="button">更多</a>
</div>

<div class="title">
    <div><div class="glyphicon glyphicon-dashboard">报团</div></div>
    <a class="btn btn-default" href="#/ban?from=find&field=6&category=1" role="button">周边游</a>
    <a class="btn btn-default" href="#/ban?from=find&field=6&category=3" role="button">国内游</a>
    <a class="btn btn-default" href="#/ban?from=find&field=6&category=4" role="button">出境游</a>
    <a class="btn btn-default" href="#/ban?from=find&field=6" role="button">更多</a>
</div>

<div class="title">
    <div><div class="glyphicon glyphicon-dashboard">服务</div></div>
    <a class="btn btn-default" href="#/fuwu?from=find&field=1&category=1" role="button">月嫂</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=1&category=4" role="button">保姆</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=2" role="button">家教</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=3&category=1" role="button">美甲</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=3&category=3" role="button">化妆</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=4" role="button">维修</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=5" role="button">代购</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=7&category=1&subject=1">翻译</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=1" role="button">更多</a>
</div>

<div class="title">
    <div><div class="glyphicon glyphicon-dashboard">咨询顾问</div></div>
    <a class="btn btn-default" href="#/fuwu?from=find&field=6&category=1&subject=3" role="button">健康顾问</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=6&category=2&subject=3" role="button">装修顾问</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=6&category=2&subject=4" role="button">理财顾问</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=6&category=3&subject=3" role="button">留学顾问</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=6&category=4&subject=1" role="button">婚庆咨询</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=6&category=5&subject=2" role="button">法务咨询</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=6&category=6" role="button">旅游咨询</a>
    <a class="btn btn-default" href="#/fuwu?from=find&field=6" role="button">更多</a>
</div>
